<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_DIR" source="app.log.dir"/>

    <!-- Valeur par défaut si app.log.dir n'est pas défini -->
    <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Fichier avec rotation quotidienne -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logs de ton application -->
    <logger name="com.msoc" level="INFO"/>

    <!-- Optionnel : réduire le bruit Kafka/Spring si besoin -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.kafka" level="INFO"/>

    <logger name="org.springframework.security" level="INFO"/>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

    <!-- Global -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>